.selector select {
  width: 60%;
  height: 5em;
  border-radius: 25rem;
  font-size: 1.15rem;
  padding: 0.675em 6em 0.675em 1em;
  background-color: #fff;
  border: 2px solid #caced1;
  color: #333;
  cursor: pointer;
}

.selector select:hover {
  background-color: #eee
}

.selector-switch {
  display: inline-block;
  width: 200px;
  height: 50px;
  background-color: lightskyblue;
  color: white;
  border: 1px black solid;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}

.selector-switch:hover {
  background-color: lightblue
}

.selector-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}